.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

.idea/
*.iml
*.iws
*.ipr
.vscode/
*.code-workspace
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

**/target/
!**/src/main/**/target/
!**/src/test/**/target/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/
.mvn/wrapper/maven-wrapper.jar
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

**/.gradle/
**/local.properties
**/captures/
**/output.json
**/*.apk
**/*.aab
**/*.ap_
**/*.dex
**/*.class
**/generated/
**/intermediates/
**/bundle/
.navigation/

**/node_modules/
**/dist/
**/dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
**/.env
**/.env.local
**/.env.*.local
**/.turbo
**/.next
**/.parcel-cache

*.log
logs/
.env
.env.production
.env.development
